<div class="row" ng-controller="BattleCtrl">
	<div class="col-md-6">
		<img src="../images/pla.jpg"  class="team_player" alt="Responsive image"> <br /> <br />

		<div class="btn-group">
      <select class="form-control">
        <option ng-repeat="team in teams" value={{team.name}}> {{team.name}} </option>
      </select>
		</div>
	</div>
	<div class="col-md-6">
		<img src="../images/nut.jpg"  class="team_player" alt="Responsive image"> <br /> <br />
    <div class="btn-group">
  		<select class="form-control">
          <option ng-repeat="team in teams"  value={{team.name}}> {{team.name}} </option>
      </select>
    </div>
	</div>
</div>
