<div class="row" ng-controller="BattleCtrl">
	<div class="col-md-6 text-center">
		<img src="../images/default.png"  class="team_player" alt="Responsive image"> <br /> <br />


		<div class="btn-group">
      <select class="form-control" ng-change="teamInputIsEqual()" ng-model="team1" >
        <option ng-repeat="team in teams" value={{team.name}}> {{team.name}} </option>
      </select>
		</div>
	</div>

	<div class="col-md-6 text-center">
		<img src="../images/default.png"  class="team_player" alt="Responsive image"> <br /> <br />

    <div class="btn-group">
  		<select class="form-control" ng-change="teamInputIsEqual()" ng-model="team2" >
          <option ng-repeat="team in teams" value={{team.name}}> {{team.name}} </option>
      </select>
    </div>
  </div>
  
  <div class="col-md-12 text-center {{msgClass}}"> {{teamBattleMessage}}</div>
  
</div>
